[Desktop Entry]
Type=Application
Exec=/usr/lib64/libexec/kdeconnectd
X-KDE-StartupNotify=false
X-KDE-autostart-phase=1
X-GNOME-Autostart-enabled=true
NoDisplay=true
Icon=kdeconnect
