[Desktop Entry]
GenericName=Clipboard Manager
Categories=GTK;GNOME;Utility;X-SuSE-DesktopUtility;TrayIcon;
Name=Parcellite
Icon=parcellite
Exec=parcellite
Terminal=false
Type=Application
NotShownIn=KDE;
X-GNOME-Autostart-enabled=true

