[Desktop Entry]
Version=1.0
Name=Redshift
Exec=redshift-gtk -c $HOME/.config/redshift.conf
Icon=redshift
Terminal=false
Type=Application
Categories=Utility;GTK;X-SuSE-DesktopUtility;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=true

