[SETTINGS]
memory=0
clearcolor=#ee9400
displaycolor=Gray100
hypercolor=#e0de45
inversecolor=#e0de45
precision=10
memorycolor=#b5cfe3
functioncolor=#9ed5bc
displaynumbercolor=Black
clearallcolor=DarkOrange2
h=246
displayfont=Sans,90
digitcolor=#5ed1cc
beep=1
angles=1
exponent=2
base=10
w=436
x=4537
y=275
anglemodecolor=#cbcbcb
operatorcolor=#ffdea3
numbasecolor=#cbcbcb
hexdigitcolor=#97bdce

